# Dependencies
/node_modules
/.pnp
.pnp.js

# npm cache
.npm
.npmrc

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular specific
/dist
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# IDE specific
/.idea
/.vscode
*.sublime-workspace
*.sublime-project

# System Files
.DS_Store
Thumbs.db
